<%- include ("header.ejs") %>
<h1 class="text-center">This is a webpage for Soccer Lover</h1>
<p class="text-center">This web blog is established by EJS and Bootstrap in frontend, Express.js with node.js in backend.</p>
<p class="text-center">Contact Me at howardwang0315@gmail.com</p>
<%- include ("footer.ejs") %>