<%- include ("header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3" id="custom-jumbotron-123">
      <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="text-white">Soccer Home</h1>
      <p class="col-lg-8 mx-auto fs-5 text-white">
        This is a soccer home for the all soccer lovers!
      </p>
      <p class="col-lg-8 mx-auto fs-5 text-white">
        Let's talk about soccer and enjoy!
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <form action="/features" method="GET">
            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="submit">
            Get Start
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
            </button>
        </form>
      </div>
    </div>
  </div>
  
<%- include ("footer.ejs") %>